
<div class="modal-dialog">
	<div class="loginmodal-container">
		<h1>Login to Your Account</h1>
		<br>
		<form>
			{{message}}
			<input type="text" name="user" placeholder="Username" ng-model="inUsername"> <input
				type="password" name="pass" placeholder="Password" ng-model="inPassword"> <input
				type="submit" name="login" ng-click="btnLogin()"
				class="login loginmodal-submit" value="Login">
		</form>

		<div class="login-help">
			<a href="#" ng-click="">Register</a> - <a href="#">Forgot
				Password</a>
		</div>
	</div>
</div>